<h2>Master Project List</h2>
<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="closeProjects">Projects Needing Less than $1500</option>
  <option value="farProjects">Projects Needing More than $1500</option>
</select>

<button class="btn btn-success" (click)="userMakeNewProject()">User Make New Project</button>
<app-new-project *ngIf="userAddProject === true" (toggleNewFormEmitter)="userMakeNewProject()"></app-new-project>


<div *ngFor="let project of projects | async | completeness:filterByCompleteness" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailView(project)"><em>{{project.name}}</em> | {{project.summary}}</h3>
    <app-edit-project *ngIf="routeFinder === '/admin'" [selectedProject]="project"></app-edit-project>
    <app-fund-project *ngIf="routeFinder != '/admin'" [projectToFund]="projectToFund"></app-fund-project>
  </div>
</div>
